.nav {
    display: flex;
    justify-content: space-around;
}

/* For the aesthetics */

.splash-page {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.about {
    font-size: large;
    background-color: #c6e4cb;

}

.portfolio {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    background-color: #c6e4cb;

}

.contact {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    background-color: #c6e4cb;

}

.headline {
    text-align: center;
}